version: "3.7"
services:
  central-settlement:
    build:
      context: .
      cache_from:
        - mojaloop/central-settlement:latest
    container_name: cs_central-settlement
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-central-settlement.sh && node src/api/index.js"
    links:
      - mysql
      - kafka
      - central-ledger
    depends_on:
      - mysql
      - kafka
      - central-ledger
    ports:
      - "3007:3007"
    volumes:
      - ./docker/central-settlement/default.json:/opt/central-settlement/config/default.json
      - ./docker/central-settlement/default.json:/opt/app/config/default.json
      - ./docker/wait-for:/opt/wait-for

  central-ledger:
    image: mojaloop/central-ledger:latest
    container_name: cs_central-ledger
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-central-ledger.sh && node src/api/index.js"
    links:
      - mysql
      - kafka
    depends_on:
      - mysql
      - kafka
    ports:
      - "3001:3001"
    volumes:
       - ./docker/central-ledger/default.json:/opt/central-ledger/config/default.json
       - ./docker/wait-for:/opt/wait-for

  ml-api-adapter:
    image: mojaloop/ml-api-adapter:latest
    container_name: cs_ml-api-adapter
    command:
      - "sh"
      - "-c"
      - "sh /opt/wait-for/wait-for-ml-api-adapter.sh && node src/api/index.js"
    links:
      - kafka
      - central-ledger
    depends_on:
      - kafka
      - central-ledger
    ports:
      - "3000:3000"
    volumes:
      - ./docker/ml-api-adapter/default.json:/opt/ml-api-adapter/config/default.json
      - ./docker/wait-for:/opt/wait-for

  mysql:
    image: mysql/mysql-server
    container_name: cs_mysql
    ports:
      - "3306:3306"
    volumes:
      #this fixes the permissions issue, but docker-compose up will fail on first attempt
      - ./docker/sql-init/:/docker-entrypoint-initdb.d/
    environment:
      - MYSQL_USER=${DBUSER:-central_ledger}
      - MYSQL_PASSWORD=${DBPASS:-password}
      - MYSQL_DATABASE=${DBUSER:-central_ledger}
      - MYSQL_ALLOW_EMPTY_PASSWORD=true

  simulator:
    image: mojaloop/simulator:latest
    container_name: cs_simulator
    links:
      - ml-api-adapter
    depends_on:
      - ml-api-adapter
    ports:
      - "8444:8444"
    environment:
      - TRANSFERS_ENDPOINT=http://ml-api-adapter:3000

#  mockserver:
#    image: jamesdbloom/mockserver
#    container_name: cs_mockserver
#    ports:
#      - "1080:1080"
#
#  temp_curl:
#    image: byrnedo/alpine-curl
#    container_name: cs_temp_curl
#    links:
#      - mockserver
#    volumes:
#      - ./docker/wait-for/wait-for-mockserver.sh:/opt/wait-for/wait-for-mockserver.sh
#    entrypoint: [ "sh", "-c" ]
#    command:
#      - /opt/wait-for/wait-for-mockserver.sh

  kafka:
    image: johnnypark/kafka-zookeeper:2.3.0
    container_name: cs_kafka
    # Disable kafka logging as it is far too verbose for debugging locally
    logging:
      driver: none
    ports:
      - "2181:2181"
      - "9092:9092"
    environment:
      - ADVERTISED_HOST=kafka
